@font-face {
    font-family: 'pelak-Regular';
    font-weight: 400;
    src: url('../fonts/woff/PelakFA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'pelak-Medium';
    font-weight: 500;
    src: url('../fonts/woff/PelakFA-Medium.woff') format('woff');
}

@font-face {
    font-family: 'pelak-semiBold';
    font-weight: 600;
    src: url('../fonts/woff/PelakFA-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'pelak-Bold';
    font-weight: 700;
    src: url('../fonts/woff/PelakFA-Bold.woff') format('woff');
}

@font-face {
    font-family: 'pelak-ExtraBold';
    font-weight: 800;
    src: url('../fonts/woff/PelakFA-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'pelak-Black';
    font-weight: 900;
    src: url('../fonts/woff/PelakFA-Black.woff') format('woff');
}

body {
    font-family: 'pelak-Regular';
    user-select: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}
.placeholder-gray::placeholder{
    color: #98A2B3;
}
.placeholder-gray2::placeholder{
    color: #667085 !important;
}
.fw-Medium {
    font-family: 'pelak-Medium' !important;
    font-weight: 500;
}

.fw-semiBold {
    font-family: 'pelak-semiBold' !important;
    font-weight: 600;
}

.fw-bold {
    font-family: 'pelak-Bold';
    font-weight: 700;
}
.fw-black{
    font-family: 'pelak-Black';
    font-weight: 900;
}
.dropDownContent{
    transition: all .4s;
    top: 60px;
    opacity: 0;
    visibility: hidden;
}
.dropDownContent.active{
    transition: all .4s;
    top: 46px;
    opacity: 100%;
    visibility: visible;
}
.dropDownContent > ul{
    margin-top: 0.5rem !important;
}

#go-to-top {
    position: fixed;
    bottom: 15px;
    left: 15px;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 2.8em;
    transition-duration: 0.5s;
    z-index: 99;
}

#go-to-top:hover {
    background-color: #010b4f;
}
footer ul li a{
    transition: all .4s;
}
#menu li a:hover,footer ul li a:hover{
    color: #7552c0 !important;
}
/* font size */
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}

.fs-48 {
    font-size: 48px;
}

.fs-60 {
    font-size: 60px !important;
}
/* after */
.gradient-after{
    position: relative;
}
.gradient-after::after{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.24%, #FFFFFF 100%);
    inset: 0;
    width: 100%;
    height: 100%;
}
#moreText{
    transition: all .4s;
    max-height: 0;
    overflow: hidden;
}
#moreText.active{
    max-height: 4000px;
}
/* cursor */
.cursor-pointer {
    cursor: pointer;
}
.py-27{
    padding-top: 27px;
    padding-bottom: 27px;
}
.p-28{
    padding: 28px;
}
.py-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.px-40{
    padding-right: 40px;
    padding-left: 40px;
}
.pr-67 {
 padding-right: 67px;
}
.pb-70{
    padding-bottom: 70px;
}
.pt-107{
 padding-top: 107px;
}
.pb-115{
  padding-bottom: 115px;
}
/* width */
.w-1{
    width: 1px;
}
.w-70{
    width: 70%;
}
.w-72{
    width: 72px;
}
.w-136{
    width: 136px;
}
.w-140{
    width: 140px;
}
.w-204{
    width: 204px;
}
.w-372 {
    width: 372px;
}
/* height */
.h-20{
    height: 20px;
}
.h-27{
    height: 27px;
}
.h-48{
    height: 48px;
}
.h-58{
    height: 58px;
}
.h-72 {
    height: 72px;
}

.h-113 {
    height: 113px;
}
.h-171 {
    height: 171%;
}
/* z index */
.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}
.z-30 {
    z-index: 30;
}
/* padding */
.pt-50 {
    padding-top: 50px;
}
.pb-40 {
    padding-bottom: 40px;
}
/* text align */
.text-justify{
    text-align: justify;
}
/* text color */
.text-main {
    color: #010B4F;
}
.text-main2{
    color: #010B4FB2;
}
/* position */
.position-stisky {
    position: sticky;
}

/* line height */
.lh-18 {
    line-height: 18px;
}

/* resize */
.resize-none {
    resize: none;
}
.-left-22{
    left: -22px;
}
.left-23{
    left: 19%;
}
.-left-24{
    left: -24px;
}
.left-35{
    left: 35px;
}
.-left-37{
    left: -37%;
}
.-left-67{
    left: -67px;
}
.-top-18{
    top: -18px;
}
.bottom-5{
    bottom: 5px;
}
.-bottom-17{
    bottom: -17px;
}
.-bottom-42{
    bottom: -42px;
}
.bottom-71{
    bottom: 71px;
}
.bottom-101{
    bottom: 54px;
}
/* border */
.border-gray {
    border: 1px solid #E6E7ED;
}
.border-b-gray{
    border-bottom: 1px solid #010B4F33;
}
/* background */
.bg-main {
    background-color: #010B4F;
}
.bg-gradient-1{
    background: linear-gradient(180deg, rgba(1, 11, 79, 0.03) 0%, rgba(1, 11, 79, 0.04) 100%);
}
.bg-gradient-2{
    background: linear-gradient(180deg, #F4F2FA 0%, #FFFFFF 100%);
}
.bg-gradient-3{
    background: linear-gradient(259.85deg, #2739B1 0%, #6323B1 100%);
}
.bg-gradient-4{
    background: radial-gradient(78.97% 70.66% at 55.99% 74.58%, rgba(59, 14, 148, 0.009) 0%, rgba(255, 255, 255, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.bg-gray{
    background-color: #2B388F0D;
}
.bg-gray-2{
    background-color: #010B4F08;
}
.bg-gray-3{
    background-color: #2B388F0D;
}
.bg-gray-4{
    background-color: #2B388F33;
}
/* box shadow */
.shadow-1 {
    box-shadow: 0px 4px 0px 0px #010B4F1A;
}
.shadow-2{
    box-shadow: 0px 5px 0px 0px #010B4F33;
}
.shadow-3{
    box-shadow: 0px 4px 0px 0px #00000040;
}
.shadow-4{
    box-shadow: 0px 3px 20px 0px #0000000D;
}
/* border radius */
.rounded-14 {
    border-radius: 14px;
}
.rounded-15 {
    border-radius: 15px;
}
.rounded-20 {
    border-radius: 20px;
}
.rounded-30 {
    border-radius: 30px;
}
.rounded-35 {
    border-radius: 35px;
}
.rounded-40 {
    border-radius: 40px;
}
/* outline-none */
.outline-none {
    outline: none;
}

/* opacity */
.opacity-none {
    opacity: 0;
}
.opacity-50 {
    opacity: 50%;
}
.opacity-70 {
    opacity: 70%;
}
/* accordion */
.accordionBox{
    transition: all .4s;
}
.accordionBox.active{
    background: linear-gradient(180deg, #F4F2FA 0%, #FFFFFF 100%);
}
.accordionContent{
    transition: all .4s;
    max-height: 0;
    overflow: hidden;
}

.accordionContent.active {
    max-height: 2000px;
}

/* responsive */

@media (max-width: 1400px) {
    .bottom-xxl-68{
        bottom: 28px;
    }
}
@media (max-width: 1200px) {
    .bottom-xl-36{
        bottom: 4px;
    }
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
    .right-md-0{
        right: 0;
    }
    .left-md-0{
        left: 0;
    }
    #menu{
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      flex-direction: column;
      z-index: 999;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: all .4s;
    }
    #menu.active{
        opacity: 100%;
        visibility: visible;
      }
    .fs-lg-22{
        font-size: 22px;
    }
    .fs-lg-14{
        font-size: 14px;
    }
    .w-lg-78{
        width: 78px;
    }
    .w-lg-100{
        width: 100%;
    }
    .h-lg-78{
        height: 78px;
    }
    .p-lg-17{
        padding: 17px;
    }
    .mt-lg-474{
        margin-top: 333px !important;
    }
    .p-lg-20{
        padding-top: 20px!important;
        padding-right: 20px!important;
        padding-bottom: 20px!important;
        padding-left: 20px!important;
    }
}
@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    .px-sm-25{
        padding-left: 25px;
        padding-right: 25px;
    }
    .text-sm-right{
        text-align: right;
    }
    .rounded-sm-0{
        border-radius: 0;
    }
    .py-sm-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .w-sm-108{
        width: 108px;
    }
    .w-sm-77{
        width: 77px;
    }
    .w-sm-64{
        width: 64px;
    }
    .w-sm-51{
        width: 51px;
    }
    .h-sm-59{
        height: 59px;
    }
    .h-sm-45{
        height: 45px;
    }
    .h-sm-41{
        height: 41px;
    }
    .h-sm-25{
        height: 25px;
    }
    .fs-sm-25{
        font-size: 25px;
    }
}

@media (max-width: 400px) {
   
}